{{!--create two possibilities for implementation of <li> tags: #if devour = devoured; else = not devoured--}}
    
{{#if devour}}
<li class="list-group-item disabled py-2">
    {{burger_name}}
</li>
{{else}}
<li class="list-group-item py-2">
    {{burger_name}}
    <button class="change-devoured btn btn-warning btn-sm ml-2 py-0" data-id="{{id}}" data-newdevoured="{{devour}}">
        DEVOUR IT!!
    </button>
</li>
{{/if}}